<p class="alert alert-success"><%= flash[:notice] %></p>
<h1>David Barón Mora</h1>
<h3>Formulario</h3>
<form action="<%=algo_path %> "method="POST">
	<%= hidden_field_tag :authenticity_token, 
form_authenticity_token %>
	<input name="nombre"> <br/>
	<input name="email"> <br/>
	<input name="edad"> <br/>
	<input type="submit" value="Enviar">
</form>
<a href="./pages/landing">Landing</a> <br/>
<%= params%>